*.pyc
*__pycache__/
.vscode/
.DS_Store

# Environments
.env
.env-django
.env-server
.venv
env/
venv/
ENV/
env.bak/

log/
log.txt

events.out.tfevents.*
.hf_cache/
dataset.jsonl

models/
datasets/
train_products/

wikipedia/
datasets/
